            
                <footer>
                    <div class="footer">
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.onad.co.jp/guide/claim_and_adr/index.html">
                                        苦情処理措置及び紛争解決措置
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.onad.co.jp/guide/privacy/index.html">
                                        個人情報保護方針
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.onad.co.jp/guide/antisocial/index.html">
                                        反社会的勢力への対応について
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.onad.co.jp/guide/inclusion_risk/index.html">
                                        リスク・手数料等について
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.onad.co.jp/company/">
                                        会社概要・お問い合わせ
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copy-box">
                            <div>
                                <a href="https:www.onad.co.jp"><img class="auto" src="../assets_lp/images/logo-footer.svg" alt="オンアド"></a>
                            </div>
                            <div>
                                <p>
                                    株式会社オンアド 金融商品取引業者 関東財務局長（金商）第3322号<br>
                                    加入協会／一般社団法人日本投資顧問業協会
                                </p>
                                <p class="mt8">
                                    <img class="auto" src="../assets_lp/images/copyright.svg" alt="COPYRIGHT © ONAD CO.,LTD. ALL RIGHTS RESERVED.">
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
<div id="fixed-button">
    <div class="fixed-button-inner">
        <a href="https://onad.resv.jp/" target="_blank"><img src="../assets_lp/images/g1-fixed-button.svg" alt="無料ガイダンスを申し込む"></a>
    </div>
</div>
<script>
    $(function(){
        var timeoutId ;
        var count = 0 ;
        var isBottom = false;
        var scrollDirection = function () {
            clearTimeout( timeoutId );
            timeoutId = setTimeout( function () {
                if (!isBottom) {
                    $(".fixed-button-inner").addClass('active');
                }
            }, 500 ) ;
        };
        $(window).on('scroll', function() {
            $(".fixed-button-inner").removeClass("active");
        scrollDirection();
        });
        $('body').on('touchmove', function() {
            $(".fixed-button-inner").removeClass("active");
                scrollDirection();
        });
        $(window).on('scroll', function () {
            var doch = $(document).innerHeight();
            var winh = $(window).innerHeight();
            var bottom = doch - winh;
            if (bottom <= $(window).scrollTop()) {
                isBottom = true;
            } else {
                isBottom = false;
            }
        });
    });
</script>
</body>
</html>