<%- include('../components/header') -%>
<div class="mv">
  <img class="full" src="../assets_lp/images/v3-g1-mv.png" alt="">
</div>
<section class="youtube">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/X5Q4W7qO9Vg?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>



<section id="sec-01">
  <div class="sec-01">
    <h1><img class="full" src="../assets_lp/images/g1-sec-01-h1.svg" alt="自分だけのプランがみつかる！オンアドオンライン相談"></h1>
    <p class="_strong center">
      将来のさまざまな不安を専任の<br>アドバイザーが解決します！
    </p>
    <div class="mt8">
      <img class="full" src="../assets_lp/images/g1-sec-01-01.png" alt="">
    </div>
    <div>
      <img class="full" src="../assets_lp/images/g1-sec-01-02.png" alt="シミュレーションイメージ">
    </div>
  </div>
</section>



<section id="sec-02">
  <div class="sec-02">
    <div class="h1-box">
      <div class="top">利用コース</div>
      <h1 class="black">人生設計コース</h1>
    </div>
    <h2 class="_strong _blue _x_large center num num1 mt8">全ての収入と支出をライフプランシミュレーションでまとめて見える化!</h2>
    <div class="mt16">
      <img src="../assets_lp/images/g1-sec-02-01.png" alt="">
    </div>
    <p class="mt16">
      Aさんの場合、厚生年金のほかに<span class="_bold">企業年金や満期を迎える年金保険がある</span>こと、<span>保険契約の見直しが必要</span>なことが分かりました。
    </p>
    <hr class="mt16">
    <h2 class="_strong _blue _x_large center num num2 mt32"><span class="spc-01">「収支」をプラスに！</span>セカンドライフの家計収支をバランスが取れたカタチに再設計！</h2>
    <div class="mt16">
      <img src="../assets_lp/images/g1-sec-02-02.png" alt="">
    </div>
    <p class="mt16">
      退職金の半分を一時金ではなく分割での受取りにプラン変更して、シミュレーションを再度作成。<span class="_bold">保険の見直しで毎月の負担を軽減！</span><span class="_anno">（注2）</span>
    </p>
    <p class="mt16">
      金融資産（貯蓄）と一時金で受取った退職金を上手に活用し、<span class="_bold">介護保険や守りの資産運用を実施。</span>夫婦どちらも安心できるプランになりました。
    </p>
  </div>
</section>


<section id="sec-03" class="def-container">
  <div class="sec-03">
    <h1 class="bar-text bg-navy">今回の解決ポイント！</h1>
  </div>
  <p class="mt16 dum-checkbox">
    <span class="_bold _blue">年金定期便には記載のない、企業年金や個人年金等が整理できる。</span>年金の仕組みと、<span class="_bold _blue">自分自身の概算年金額がわかり</span>安心！
  </p>
  <p class="mt16 dum-checkbox">
    現金を含む<span class="_bold _blue">金融資産を満遍なく点検</span>できるから、<span class="_bold _blue">ムダを発見できた！</span>
  </p>
  <p class="mt16 dum-checkbox">
    「何から始めたらよいか」の<span class="_bold _blue">モヤモヤの正体を突き止め、眠っている資産を上手に活用</span>することができることも。
  </p>
  <div class="mt16">
    <img src="../assets_lp/images/g1-sec-03-01.png" alt="苦労をかけた妻と国内ではなくハワイ旅行をしたいという想いに気が付くことができ、新たな目標ができました!">
  </div>
  <p class="_small mt16">
    ※当イメージは、特定の前提条件のもと簡易な手法にて作成されたものであり、必ずしも精緻なデータに基づいたものではありません。当イメージは実際のリスクリターンの示唆、保証をするものではなく、将来の結果を保証するものではありません。
    <br>(注1)年金積立金管理運用独立法人の運用実績(2001年度以降、2020年度までの年金積立金の名目の運用利回りは年平均で3.64%) をもとに設定した目標値です。また、実際のアドバイス内容や、運用成績を保証するものではありません。
    <br>(注2)特定の前提条件をもとに算出されたシミュレーション結果であり、当社のアドバイスを受けることで保険料負担が減少することを保証するものではありません。
  </p>
</section>


<section id="sec-04">
  <div class="sec-04">
    <div class="h1-box spc-02">
      <div class="top">便利・安心・透明性に特化した新サービス！</div>
      <h1>オンアド3つの特徴</h1>
    </div>
    <div class="def-container">
      <div>
        <img src="../assets_lp/images/g1-sec-04-01.svg" alt="オンアド3つの特徴図">
      </div>
      <div class="line-box line-box-red mt32">
        <h2 class="bar-text bg-red">中立性</h2>
        <p class="pad">当社は、<span class="_bold _red">金融商品の販売は行いません。</span>既存金融機関とはことなり、仲介機能や代理店機能を持ちません。<span class="_bold _red">中立な立場</span>でお客様のお悩みを解決に導くための<span class="_bold _red">最適なプラン作成のサポートが可能!</span></p>
      </div>
      <div class="line-box line-box-green mt16">
        <h2 class="bar-text bg-green">アドバイス特化</h2>
        <p class="pad"><span class="_bold _red">実行の手助けとなるアクションプランをお伝え</span>します。お客さま自身に必要な、<span class="_bold _red">“自分だけ”のプランや手段を見つける</span>ことができるよう、現役アドバイザーが、お客さまに寄り添った<span class="_bold _red">丁寧なプランニングとアドバイスを実施!</span></p>
      </div>
      <div class="line-box line-box-blue mt16">
        <h2 class="bar-text bg-blue">オンライン完結</h2>
        <p class="pad">[面談のご予約］から[コンサルティングの実施］、[資料の受け渡し］に至る<span class="_bold _red">すべてのプロセスがオンラインで完結！</span>お客さまのご予定に合わせて、好きな場所からアクセス可能！</p>
      </div>
      <p class="_large _strong center mt16">
        はじめてのオンライン面談でも大丈夫！
      </p>
      <p class="_strong _x_large center mt8">
        当社アドバイザーが<br>オンライン面談の接続手続きを<br>丁寧にご案内します！
      </p>
      <div class="mt8">
        <img class="full" src="../assets_lp/images/g1-sec-01-01.png" alt="">
      </div>
      <p class="_strong _x_large _blue center mt16">
        無料ガイダンスで<br>自分にフィットしているサービスが確認できる！
      </p>
      <p class="mt16 center">
        ご参加のお客様には関連資料をプレゼント！！
      </p>
    </div>
  </div>
</section>




<section id="sec-05">
  <h1>無料ガイダンスまでの流れ</h1>
  <div class="sec-05">
    <p class="step">STEP</p>
    <h2 class="_strong _x_large _navy center num num1">簡単！フォーム入力</h2>
    <p class="mt16">
      申し込みフォームにて、都合の良い日時をお選びいただき、ご予約ください。
    </p>
    <div class="mt16">
      <img src="../assets_lp/images/g1-sec-05-01.png" alt="">
    </div>
    <hr class="mt24">
    <p class="step mt16">STEP</p>
    <h2 class="_strong _x_large _navy center num num2 mt16">接続方法のご案内</h2>
    <p class="mt16">
      無料ガイダンス当日のオンライン接続方法のご案内をメールにて送付いたします。PC/スマホどちらでも可能です。
    </p>
    <div class="mt16">
      <img src="../assets_lp/images/g1-sec-05-02.png" alt="">
    </div>
    <hr class="mt24">
    <p class="step mt16">STEP</p>
    <h2 class="_strong _x_large _navy center num num3 mt16">無料ガイダンス開始</h2>
    <p class="mt16">
      お客さまが抱えているお悩みや課題についてお伺いし、お客さまに適したコースをご紹介いたします。
    </p>
    <div class="mt16">
      <img src="../assets_lp/images/g1-sec-05-03.png" alt="">
    </div>
  </div>
  <p class="_anno _white mt8">※資料のプレゼントには会員登録（無料）が必要となります。</p>
</section>



<section id="sec-06" class="def-container">
  <div class="sec-06 center">
    <p class="_strong _large">あなたのライフスタイルに合わせて、</p>
    <p class="_strong _xxx_large mt8"><span class="_orange _strong _xxx_large">お金のプロ</span>が<br><span class="_orange _strong _xxx_large">最適なプランをご提案</span></p>
    <p class="_strong _x_large mt8">まずはオンアドサービスについて</p>
    <div class="mt16">
      <a href="mailto:support_onad@onad.co.jp?subject=【資料請求／問い合わせ】※資料請求の方はこのまま送信ください。お問い合わせの方は本文を記載の上、送信をお願いします。">
        <img src="../assets_lp/images/v2_005_but.png" alt="">
      </a>
    </div>
  </div>
</section>




<section id="sec-07">
  <div class="sec-07">
    <div class="h1-box">
      <div class="top">コースに迷ったらまずはこれ！</div>
      <h1>あらゆるお金の悩みをトータルサポート</h1>
    </div>
    <div class="def-container">
      <div class="box-shadow box-radius box-white">
        <div class="def-container">
          <h2 class="_4x_large _strong center">人生設計コース</h2>
          <p class="mt24 center">
            こんなお悩みの方に
          </p>
          <p class="mt16">
            ●退職金の受け取り方の相談や受け取れる年金について知りたい・・・
          </p>
          <p class="mt16">
            ●教育費準備、住宅購入、老後の生活、万が一への備えなどに対する漠然とした不安を解消したい。
          </p>
          <p class="mt16">
            ●現状や将来を見える化し、不安のない豊かな人生をプランニングしたい。
          </p>
        </div>
        <div class="box-pink">
          <div class="box-red">
            <p class="_white _bold center">人生設計コースでは</p>
            <h3 class="_white _strong _x_large center">ライフプランシミュレーション表を作成！</h3>
          </div>
          <div class="h4-box">
            <p class="_large _strong center mt16">ライフプランシミュレーション</p>
            <h4 class="_4x_large _strong center _red mt8">4つのポイント</h4>
          </div>
          <div class="padding-24">
            <hr class="mt16">
            <div class="flex-box mt16">
              <div><img src="../assets_lp/images/g1-sec-07-01.svg" alt=""></div>
              <div class="spc-03">
                <p class="_bold">現在の</p>
                <p class="_2x_large _bold lineheight-1">資産状況がわかる</p>
              </div>
            </div>
            <hr class="mt16">
            <div class="flex-box mt16">
              <div><img src="../assets_lp/images/g1-sec-07-02.svg" alt=""></div>
              <div class="spc-03">
                <p class="_bold">将来予想される</p>
                <p class="_2x_large _bold lineheight-1">支出がわかる</p>
              </div>
            </div>
            <hr class="mt16">
            <div class="flex-box mt16">
              <div><img src="../assets_lp/images/g1-sec-07-03.svg" alt=""></div>
              <div class="spc-03">
                <p class="_bold">家計が抱える</p>
                <p class="_2x_large _bold lineheight-1">問題点がわかる！</p>
              </div>
            </div>
            <hr class="mt16">
            <div class="flex-box mt16">
              <div><img src="../assets_lp/images/g1-sec-07-04.svg" alt=""></div>
              <div class="spc-03">
                <p class="_bold">問題の</p>
                <p class="_2x_large _bold lineheight-1">解決方法がわかる！</p>
              </div>
            </div>
            <hr class="mt16">
            <p>
              収支グラフ・金融資産推移、キャッシュフロー表から特徴や問題点を明確化し、改善策をご提示いたします！
            </p>
          </div>
        </div>
      </div>
      <section>
        <h3 class="center mt24"><img class="auto" src="../assets_lp/images/g1-sec-07-2step.svg" alt="2STEP"></h3>
        <p class="_large _strong lineheight-23 center mt8">で納得のいく自分だけのプランを一緒に見つけましょう</p>
        <div class="mt16">
          <img src="../assets_lp/images/g1-sec-07-price.svg" alt="">
        </div>
        <p class="mt16 _note">
          ※人生設計コースは、2回の有料面談を基本パックとしています。<br>お支払いにつきましては、面談終了毎に22,000円（税込）のお支払いとなります。
        </p>
        <div class="spc-04 mt24">
          <div>
            <img class="auto" src="../assets_lp/images/g1-sec-07-step1.svg" alt="STEP1">
          </div>
          <div class="border-box box-shadow">
            <div class="pad-container">
              <p class="_large center">面談前の事前準備</p>
              <p class="_large _strong _red center lineheight-23">ライフプランヒアリング<br>シートの入力！</p>
              <p class="mt8">
                現在の資産や収支に関するご質問にご回答いただき、将来実現したいことをお聞かせください。<br>収入や支出、資産の残り方などを具体的に数値化した「将来のお金のシミュレーション表」をオーダーメイドにて作成いたします。
              </p>
              <div class="mt8">
                <img src="../assets_lp/images/g1-sec-07-05.png" alt="">
              </div>
              <p class="_note">※画像はイメージです。</p>
            </div>
            <h5 class="_normal _white _bold box-red center">
              以下書類画像をご提出いただく場合がございます
            </h5>
            <p class="box-pink pad-container">
              ねんきん定期便・保険証券・ローン返済予定表・団信の内容がわかる書類・証券口座銘柄保有明細・確定拠出年金のお取引状況のお知らせ等
            </p>
          </div>
        </div>
        <div class="spc-04 mt24">
          <div>
            <img class="auto" src="../assets_lp/images/g1-sec-07-step2.svg" alt="STEP2">
          </div>
          <div class="border-box box-shadow">
            <div class="pad-container">
              <p class="_large center">ご面談［全2回］</p>
              <p class="_large _strong _red center lineheight-23">［1回目］シミュレーションの解説とヒアリング</p>
              <div class="flow mt16">
                <p>入力情報に基づくライフプランの<span>達成可否について解説</span></p>
                <p>現在の資産状況、将来予想される<span>収支を可視化</span></p>
                <p><span>社会保障制度</span>や注意すべき<br><span>リスクについて共有</span></p>
                <p>入力情報の過不足やお客さまが<span>大切にしている思い、特に気になる点などを確認</span></p>
              </div>
              <hr>
              <p class="_large _strong _red center lineheight-23">［2回目］実現に向けた<br>プランニング</p>
              <div class="flow mt16">
                <p>ヒアリング内容を反映し、<br><span>家計が抱える問題点を解説</span></p>
                <p><span>問題の対処方法について</span>、<br>いくつかのプランをご提示</p>
                <p>提示したプランから、<br>お客さまのご意向を確認</p>
                <p><span>お客さま専用のライフプランシミュレーションが完成</span></p>
              </div>
            </div>
          </div>
        </div>
        <section class="mt24">
          <div class="box-yellow pad-container">
            <p>
              ローン、保険、退職金や年金の受け取り方、資産運用、相続など、各種制度も含めわかりやすく解説＆実行支援をいたします。
            </p>
            <div class="mt16 center">
              <img src="../assets_lp/images/g1-sec-07-06.png" alt="">
            </div>
            <p class="_note">
              ※ご相談内容によっては、コースの追加が必要な場合がございます。
            </p>
          </div>
        </section>
        <section class="mt24">
          <h4 class="bar-text bg-red _x_large _bold">面談後ご提供資料</h4>
          <div class="pad-container box-pink">
            <ul>
              <li class="dum-checkbox">ライフプランシミュレーション表</li>
              <li class="dum-checkbox">資産配分シミュレーション</li>
              <li class="dum-checkbox">面談の際に使用したアドバイス資料</li>
            </ul>
            <div class="mt16">
              <img src="../assets_lp/images/g1-sec-07-07.png" alt="">
            </div>
            <div class="mt8">
              <img src="../assets_lp/images/g1-sec-07-08.png" alt="">
            </div>
            <p class="_note mt8">
              ※画像はイメージです。資料の一部を抜粋しております。
            </p>
          </div>
        </section>
      </section>
    </div>
  </div>
</section>

<section>
  <div>
    <img src="../assets_lp/images/button-click.png" alt="お金の無料相談ってよく見るけど 無料と有料の違いって何？">
  </div>
</section>

<section id="adv">
  <div id="sec-08">
    <div class="h1-box">
      <p class="top mt8">あなた専任のアドバイザーが</p>
      <h1 class="mt8">お金の不安<span>や</span>悩み<span>を</span><br>徹底解決！</h1>
    </div>
    <p class="center mt0">証券・銀行の最前線で活躍し、<br>様々な経験を積んできたアドバイザーが在籍！</p>
  </div>
  <ul id="adv-items" class="slider mt16">
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-01.png" alt=""></div>
        <div class="info">
          <p class="kana">アベ ヒロキ</p>
          <p class="name">阿部 裕樹</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">プライマリーPB</p>
          <p class="prof">
            銀行員として8年間にわたり住宅ローンをはじめとしたお借入れ、投資信託や生命保険を活用した資産運用・承継のアドバイスを行ってまいりました。すでに具体的な夢や目標がある方も、これから考えていきたい方も。「自分らしいお金との付き合いかた」に出会えるよう、ご案内いたします。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-02.png" alt=""></div>
        <div class="info">
          <p class="kana">アンドウ ヒロタカ</p>
          <p class="name">安東 広喬</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">1級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            銀行にて8年間、個人・法人のお客様に資産運用やご融資の相談を承って参りました。その間私生活では父の相続や双子を含む3児の子育て、マイホーム取得などを経験しました。自身の経験も踏まえ、お客様だけの人生設計をお手伝いいたします。住宅ローン相談、退職金・年金などのセカンドライフ資金相談が得意です。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-03.png" alt=""></div>
        <div class="info">
          <p class="kana">イガ モトキ</p>
          <p class="name">伊賀 元紀</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">２級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            証券会社にて11年間にわたり、個人・法人のお客様向けに資産運用や資産管理・承継のご相談の対応をしておりました。現役世代向けには「資産管理・形成」、退職前後の方向けには「退職金・年金」に関するアドバイスを通じて、将来の夢や今のお気持ちに寄り添ったライフプランの作成をお手伝いいたします。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-04.png" alt=""></div>
        <div class="info">
          <p class="kana">ゴカン マリ</p>
          <p class="name">後閑 麻里</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">2級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            銀行では約12年間、個人のお客様を担当し、主に資産運用、相続、保険のご相談についてアドバイスを行ってまいりました。お客様が抱える悩みは様々なので、ご相談にあたってはお一人お一人の環境や想いに寄り添い、思い描くライフプラン実現に向けオンリーワンで最良なアドバイスを提供いたします。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-05.png" alt=""></div>
        <div class="info">
          <p class="kana">タケウチ マアサ</p>
          <p class="name">竹内 麻亜紗</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">２級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            証券会社で11年間、個人のお客様の資産運用・資産承継についてアドバイスを行ってきました。誰にでも相談できるわけではない「お金」のことだからこそ、お客様が抱えるお悩みや叶えたい夢に寄り添い、しっかりとサポートしてまいります。老後の不安を少しでも解消し、安心した日々をお過ごしいただければと思います。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-06.png" alt=""></div>
        <div class="info">
          <p class="kana">タンソ ナナコ</p>
          <p class="name">湛増 名菜子</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">2級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            銀行にて7年間にわたり、個人のお客様に資産運用や資産承継、万が一の備え等、お金に関するお悩み事についてアドバイスをしておりました。万が一の時の備えについてのアドバイスには強みを持っております。お客様の思いを尊重して解決策を一緒に考えてまいりますので、なんでもご相談ください。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-07.png" alt=""></div>
        <div class="info">
          <p class="kana">マエダ シンゴ</p>
          <p class="name">前田 真吾</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">２級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            証券会社で10年間にわたり、約700名のお客様の資産管理をサポートしておりました。個人のお客様へのアドバイスに強みがあります。資産運用、ライフプラン・将来設計、相続対策など、お客様のお悩みは多岐に渡り、その解決策の選択肢も膨大にあります。お悩みを整理し、それぞれに合ったプランをご提案いたします。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-08.png" alt=""></div>
        <div class="info">
          <p class="kana">マツダ チサ</p>
          <p class="name">松田 知紗</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">2級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            証券会社にて18年にわたり、担当するお客様のお悩みや課題に応える資産コンサルティング業を経験してまいりました。主に資産形成や運用、資産承継に強みを持っております。皆さまの人生がさらに豊かなものとなるよう、お客様のお気持ちや経済合理性を最優先に、様々なお金のお悩みに対してトータルでサポートいたします。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-09.png" alt=""></div>
        <div class="info">
          <p class="kana">ミワ タカノリ</p>
          <p class="name">三輪 孝典</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">2級ファイナンシャル・プランニング技能士</p>
          <p class="prof">
            証券会社で約13年間、お客様の資産形成・運用、ご相続や承継に関するアドバイスに従事して参りました。投資手法や市場環境、知っておくべき制度や情報など、複雑なことを分かりやすくお伝えいたします。お客様一人ひとりにオーダーメイドのアドバイスを提供し、理想の未来の実現を応援いたします。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="slide-inner">
        <div><img src="../assets_lp/images/adv-10.png" alt=""></div>
        <div class="info">
          <p class="kana">ヤマザキ アヤコ</p>
          <p class="name">山﨑 絢子</p>
          <p class="qual-name">保有資格</p>
          <p class="qual">2級ファイナンシャル・プランニング技能士／AFP</p>
          <p class="prof">
            銀行にて約13年間、資産運用・保険・承継の相談業務に携わり、常にお客様のライフプランを重視したアドバイスを心がけておりました。人生100年時代に備えるにあたり、何から始めるべきか迷われる方も多いのではないでしょうか。中立的な立場だからこそできる人生設計のお手伝いをいたします。
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>

<%- include('../components/footer') -%>